{% extends "index.html" %}
{% block title %}Добавить задачу{% endblock %}
{% block content %}
    {% if status.code == 1 %}
        {% include 'status/success.html' %}
    {% endif %}
    {% if status.code == 2 %}
        {% include 'status/allert.html' %}
    {% endif %}
    {% if status.code == 0 %}
        {% include 'status/error.html' %}
    {% endif %}
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'TaskInfo')" {% if tinfo == 1 %} id="defaultOpen" {% endif %}>Инфо</button>
        <button class="tablinks" onclick="openTab(event, 'AddTask')", {% if tinfo == 0 %} id="defaultOpen" {% endif %}>Добавить</button>
      </div>

      <!-- Tab content -->
    <div id="TaskInfo" class="tabcontent">
        <div id="row">
            <div id="block">
                <h3>Темы(Уроки)</h6>
                <ul>
                    {% for item in navigation %}
                        <li><a href="/t_{{ item[0] }}">{{ item[1] }}</a></li>
                    {% endfor %}
                  </ul>
            </div>
            <div id="block">
                <h6>Список задач</h6>
            </div>
        </div>
    </div>
  
    <div id="AddTask" class="tabcontent">
        {% include '/forms/add_task_form.html' %}
    </div>
{% endblock %}
{% block footer %}
        {{super()}}
        <p>Добавить Задачу</p>
{% endblock %}
