{% extends "index.html" %}
{% block title %}Авторы книг{% endblock %}
{% block content %}
    {% if status.code == 1 %}
        {% include 'status/success.html' %}
    {% endif %}
    {% if status.code == 2 %}
        {% include 'status/allert.html' %}
    {% endif %}
    {% if status.code == 0 %}
        {% include 'status/error.html' %}
    {% endif %}
    <h1>Добавить Автора:</h1>
    {% include '/forms/add_author_form.html' %}
{% endblock %}
{% block footer %}
        {{super()}}
        <p>Авторы</p>
{% endblock %}