{% extends "index.html" %}
{% block title %}Места размещения{% endblock %}
{% block content %}
    {% if status.code == 1 %}
        {% include 'status/success.html' %}
    {% endif %}
    {% if status.code == 2 %}
        {% include 'status/allert.html' %}
    {% endif %}
    {% if status.code == 0 %}
        {% include 'status/error.html' %}
    {% endif %}
    <h1>Добавить место хранения:</h1>
    {% include '/forms/add_place_form.html' %}
{% endblock %}
{% block footer %}
        {{super()}}
        <p>Места</p>
{% endblock %}
